ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=voiceapp;Username=postgres;Password=admin
Jwt__Key=9f1d6b4c2a7e8d3f5b9c1e6a4d8f2c7b5e1a9d3c6f2b8a4e
Jwt__Issuer=BackNoDiscord
Jwt__Audience=BackNoDiscordUsers
Jwt__AccessTokenMinutes=10080
Jwt__RefreshTokenDays=14
Crypto__Key=6c2e9a4d8f1b5c7e3a9d2f6b4c8e1a7d5f3b9c2e6a4d8f1b

Spotify__ClientId=7b4624691d024dde9af9f5428333a837
Spotify__ClientSecret=fdbf8edd4a114a0c863800c683be831e
Spotify__RedirectUri=https://tendsec.ru/api/integrations/spotify/callback
GitHub__ClientId=your_github_oauth_client_id
GitHub__ClientSecret=your_github_oauth_client_secret
GitHub__RedirectUri=https://tendsec.ru/api/integrations/github/callback
Steam__ApiKey=your_steam_web_api_key
BattleNet__ClientId=your_battlenet_oauth_client_id
BattleNet__ClientSecret=your_battlenet_oauth_client_secret
BattleNet__RedirectUri=https://tendsec.ru/api/integrations/battlenet/callback
BattleNet__Region=eu

Email__Mode=smtp
Email__FromAddress=code@tendsec.ru
Email__FromName=MAX
Email__Smtp__Host=smtp.beget.com
Email__Smtp__Port=465
Email__Smtp__Username=code@tendsec.ru
Email__Smtp__Password=Ufdyj335123123!
Email__Smtp__EnableSsl=true

Auth__RequireEmailVerification=true
Auth__RequirePhoneVerification=false

ND_API_URL=https://tendsec.ru
ND_PUBLIC_APP_URL=https://tendsec.ru

ND_LIVEKIT_URL=wss://tendsec.ru/livekit
LiveKit__Url=wss://tendsec.ru/livekit
LIVEKIT_KEYS=devkey: 4e9a1c7b5d3f8a2e6c4b9d1f7a5e3c8b
